.col-sm-12
  a.btn.btn-secondary.mt-4(href="new-doc.html") Создать документ
  section.py-4.py-lg-5
    .table-responsive
      <table class="table table-bordered table-hover text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Тип</th>
            <th scope="col">Проектный шифр</th>
            <th scope="col">Оригинальный шифр</th>
            <th scope="col">Раздел</th>
            <th scope="col">Подраздел</th>
            <th scope="col">Часть</th>
            <th scope="col">Книга</th>
            <th scope="col">Наименование комплекта</th>
            <th scope="col">№ Карточки</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><a href="card-doc.html">1</a></th>
            <td><a href="card-doc.html">ПД</a></td>
            <td><a href="card-doc.html">5-768-П-ИЛО-4.3</a></td>
            <td><a href="card-doc.html">ИЛО-4.3</a></td>
            <td><a href="card-doc.html">ИЛО</a></td>
            <td><a href="card-doc.html">4</a></td>
            <td><a href="card-doc.html">4</a></td>
            <td><a href="card-doc.html">-</a></td>
            <td><a href="card-doc.html">Раздел 4. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке существенных финансовых и административных условий.</a></td>
            <td><a href="card-doc.html">0013</a></td>
          </tr>
          
          <tr>
            <th scope="row"><a href="card-doc.html">2</a></th>
            <td><a href="card-doc.html">ПД</a></td>
            <td><a href="card-doc.html">5-768-П-ИЛО-4.3</a></td>
            <td><a href="card-doc.html">ИЛО-4.3</a></td>
            <td><a href="card-doc.html">ИЛО</a></td>
            <td><a href="card-doc.html">4</a></td>
            <td><a href="card-doc.html">4</a></td>
            <td><a href="card-doc.html">-</a></td>
            <td><a href="card-doc.html">Раздел 4. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке существенных финансовых и административных условий</a></td>
            <td><a href="card-doc.html">0013</a></td>
          </tr>
          
          <tr>
            <th scope="row"><a href="card-doc.html">3</a></th>
            <td><a href="card-doc.html">ТД</a></td>
            <td><a href="card-doc.html">5-768-П-АД-ВПВ</a></td>
            <td><a href="card-doc.html">ВПВ</a></td>
            <td><a href="card-doc.html">АД</a></td>
            <td><a href="card-doc.html">4</a></td>
            <td><a href="card-doc.html">-</a></td>
            <td><a href="card-doc.html">-</a></td>
            <td><a href="card-doc.html">Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание модели развития.</a></td>
            <td><a href="card-doc.html">3102-Л</a></td>
          </tr>

        </tbody>
      </table>