.col-sm-12
  a.btn.btn-primary.mt-4(href="#") Создать документ
  section.py-4.py-lg-5
    .table-responsive
      <table class="table table-bordered table-hover text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Тип</th>
            <th scope="col">Проектный шифр</th>
            <th scope="col">Оригинальный шифр</th>
            <th scope="col">Раздел</th>
            <th scope="col">Подраздел</th>
            <th scope="col">Часть</th>
            <th scope="col">Книга</th>
            <th scope="col">Наименование комплекта</th>
            <th scope="col">№ Карточки</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>ПД</td>
            <td>5-768-П-ИЛО-4.3</td>
            <td>ИЛО-4.3</td>
            <td>ИЛО</td>
            <td>4</td>
            <td>4</td>
            <td>-</td>
            <td>Раздел 4. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке существенных финансовых и административных условий. Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание модели развития.</td>
            <td>0013</td>
          </tr>
          
          <tr>
            <th scope="row">2</th>
            <td>ПД</td>
            <td>5-768-П-ИЛО-4.3</td>
            <td>ИЛО-4.3</td>
            <td>ИЛО</td>
            <td>4</td>
            <td>4</td>
            <td>-</td>
            <td>Раздел 4. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке существенных финансовых и административных условий</td>
            <td>0013</td>
          </tr>
          
          <tr>
            <th scope="row">3</th>
            <td>ТД</td>
            <td>5-768-П-АД-ВПВ</td>
            <td>ВПВ</td>
            <td>АД</td>
            <td>4</td>
            <td>_</td>
            <td>-</td>
            <td>Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание модели развития.</td>
            <td>3102-Л</td>
          </tr>

        </tbody>
      </table>