.col-sm-12
  section.py-4.py-lg-5
    h2.h3.mb-5.text-center Полное наименование Проекта - Сокращенное наименование Проекта
    h3.h4.mb-3 Структурная группа 1 (чтение/запись)
    .table-responsive
      <table class="table table-bordered table-hover text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Сокращенное наим. организации</th>
            <th scope="col">ФИО всех пользователей</th>
            <th scope="col">ФИО суперпользователей Библиотека</th>
            <th scope="col">ФИО суперпользователей Журнал</th>
            <th scope="col">Основная для корреспонденции</th>
            <th scope="col">Заморозить</th>
            <th scope="col">Удалить</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>ЛМА</td>
            <td>Иванов Иван Иванович <br> Сидоров Сидор Сидорович <br> Андреев Андрей Андреевич</td>
            <td>Сидоров Сидор Сидорович</td>
            <td>Андреев Андрей Андреевич</td>
            <td>
              <a href="#" class="btn btn-icon js-correspondence" area-label="Выбрать для корреспонденции">
                <i class="fa fa-toggle-off" aria-hidden="true"></i>
                <i class="fa fa-toggle-on d-none" aria-hidden="true"></i>
              </a>
            </td>
            <td>
              <a href="#" class="btn btn-icon js-freeze" area-label="Заморозить пользователей">
                <i class="fa fa-toggle-off" aria-hidden="true"></i>
                <i class="fa fa-toggle-on d-none" aria-hidden="true"></i>
              </a>
            </td>
            <td>
              <a href="#" class="btn btn-icon js-remove" area-label="Удалить пользователей">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </a>
            </td>
          </tr>

          <tr>
            <th scope="row">2</th>
            <td>СТПР</td>
            <td>Сидоров Сидор Сидорович</td>
            <td>Сидоров Сидор Сидорович</td>
            <td></td>
            <td>
              <a href="#" class="btn btn-icon js-correspondence" area-label="Выбрать для корреспонденции">
                <i class="fa fa-toggle-off" aria-hidden="true"></i>
                <i class="fa fa-toggle-on d-none" aria-hidden="true"></i>
              </a>
            </td>
            <td>
              <a href="#" class="btn btn-icon js-freeze" area-label="Заморозить пользователей">
                <i class="fa fa-toggle-off" aria-hidden="true"></i>
                <i class="fa fa-toggle-on d-none" aria-hidden="true"></i>
              </a>
            </td>
            <td>
              <a href="#" class="btn btn-icon js-remove" area-label="Удалить пользователей">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </a>
            </td>
          </tr>

          <tr>
            <td colspan="8">
              <a href="#" class="btn btn-icon" area-label="Добавить ряд">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </a>
            </td>
          </tr>

        </tbody>
      </table>
  
  section.py-4.py-lg-5
    h3.h4.mb-3 Структурная группа 2 (чтение/запись)
    .table-responsive
      <table class="table table-bordered table-hover text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Сокращенное наим. организации</th>
            <th scope="col">ФИО всех пользователей</th>
            <th scope="col">ФИО суперпользователей Библиотека</th>
            <th scope="col">ФИО суперпользователей Журнал</th>
            <th scope="col">Основная для корреспонденции</th>
            <th scope="col">Заморозить</th>
            <th scope="col">Удалить</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>АКМ</td>
            <td>Иванов Иван Иванович <br> Сидоров Сидор Сидорович <br> Андреев Андрей Андреевич</td>
            <td>Сидоров Сидор Сидорович</td>
            <td>Андреев Андрей Андреевич</td>
            <td>
              <a href="#" class="btn btn-icon js-correspondence" area-label="Выбрать для корреспонденции">
                <i class="fa fa-toggle-off" aria-hidden="true"></i>
                <i class="fa fa-toggle-on d-none" aria-hidden="true"></i>
              </a>
            </td>
            <td>
              <a href="#" class="btn btn-icon js-freeze" area-label="Заморозить пользователей">
                <i class="fa fa-toggle-off" aria-hidden="true"></i>
                <i class="fa fa-toggle-on d-none" aria-hidden="true"></i>
              </a>
            </td>
            <td>
              <a href="#" class="btn btn-icon js-remove" area-label="Удалить пользователей">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </a>
            </td>
          </tr>

          <tr>
            <th scope="row">2</th>
            <td>ЛЕН</td>
            <td>Сидоров Сидор Сидорович</td>
            <td>Сидоров Сидор Сидорович</td>
            <td></td>
            <td>
              <a href="#" class="btn btn-icon js-correspondence" area-label="Выбрать для корреспонденции">
                <i class="fa fa-toggle-off" aria-hidden="true"></i>
                <i class="fa fa-toggle-on d-none" aria-hidden="true"></i>
              </a>
            </td>
            <td>
              <a href="#" class="btn btn-icon js-freeze" area-label="Заморозить пользователей">
                <i class="fa fa-toggle-off" aria-hidden="true"></i>
                <i class="fa fa-toggle-on d-none" aria-hidden="true"></i>
              </a>
            </td>
            <td>
              <a href="#" class="btn btn-icon js-remove" area-label="Удалить пользователей">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </a>
            </td>
          </tr>

          <tr>
            <td colspan="8">
              <a href="#" class="btn btn-icon" area-label="Добавить ряд">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </a>
            </td>
          </tr>

        </tbody>
      </table>
  
  section.py-4.py-lg-5
    h3.h4.mb-3 Структурная группа - только для просмотра (чтение)
    .table-responsive
      <table class="table table-bordered table-hover text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Сокращенное наим. организации</th>
            <th scope="col">ФИО всех пользователей</th>
            <th scope="col">ФИО суперпользователей Библиотека</th>
            <th scope="col">ФИО суперпользователей Журнал</th>
            <th scope="col">Основная для корреспонденции</th>
            <th scope="col">Заморозить</th>
            <th scope="col">Удалить</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>ККК</td>
            <td>Андреев Андрей Андреевич</td>
            <td></td>
            <td></td>
            <td>
              <a href="#" class="btn btn-icon js-correspondence" area-label="Выбрать для корреспонденции">
                <i class="fa fa-toggle-off" aria-hidden="true"></i>
                <i class="fa fa-toggle-on d-none" aria-hidden="true"></i>
              </a>
            </td>
            <td>
              <a href="#" class="btn btn-icon js-freeze" area-label="Заморозить пользователей">
                <i class="fa fa-toggle-off" aria-hidden="true"></i>
                <i class="fa fa-toggle-on d-none" aria-hidden="true"></i>
              </a>
            </td>
            <td>
              <a href="#" class="btn btn-icon js-remove" area-label="Удалить пользователей">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </a>
            </td>
          </tr>

          <tr>
            <th scope="row">2</th>
            <td>СТПР</td>
            <td>Сидоров Сидор Сидорович</td>
            <td>Сидоров Сидор Сидорович</td>
            <td></td>
            <td>
              <a href="#" class="btn btn-icon js-correspondence" area-label="Выбрать для корреспонденции">
                <i class="fa fa-toggle-off" aria-hidden="true"></i>
                <i class="fa fa-toggle-on d-none" aria-hidden="true"></i>
              </a>
            </td>
            <td>
              <a href="#" class="btn btn-icon js-freeze" area-label="Заморозить пользователей">
                <i class="fa fa-toggle-off" aria-hidden="true"></i>
                <i class="fa fa-toggle-on d-none" aria-hidden="true"></i>
              </a>
            </td>
            <td>
              <a href="#" class="btn btn-icon js-remove" area-label="Удалить пользователей">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </a>
            </td>
          </tr>

          <tr>
            <td colspan="8">
              <a href="#" class="btn btn-icon" area-label="Добавить ряд">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </a>
            </td>
          </tr>

        </tbody>
      </table>
