.col-sm-12
  section.py-4.py-lg-5
    .table-responsive
      <table class="table table-bordered table-hover text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Дата</th>
            <th scope="col">Рег.номер</th>
            <th scope="col">Отправитель</th>
            <th scope="col">Получатели</th>
            <th scope="col">Тип</th>
            <th scope="col">Наименование</th>
            <th scope="col">Цель направления</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>05/09/2019</td>
            <td>01.200.21-0001</td>
            <td>ООО "333"</td>
            <td>ООО "111" <br> ООО "222"</td>
            <td>Проектная документация</td>
            <td>Раздел 4. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке существенных финансовых и административных условий. Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание модели развития.</td>
            <td>на рассмотрение</td>
          </tr>
          
          <tr>
            <th scope="row">2</th>
            <td>06/09/2019</td>
            <td>01.300.21-0001</td>
            <td>ООО "333"</td>
            <td>ООО "111"</td>
            <td>Вызов на приемку</td>
            <td>Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание модели развития.</td>
            <td>для исполнения</td>
          </tr>

        </tbody>
      </table>