.col-sm-12
  a.btn.btn-secondary.mt-4(href="new-precept.html") Создать
  section.py-4.py-lg-5
    .table-responsive
      <table class="table table-bordered table-hover text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Дата</th>
            <th scope="col">Конструкция</th>
            <th scope="col">Граница от</th>
            <th scope="col">Граница до</th>
            <th scope="col">Вид работ</th>
            <th scope="col">Тип нарушения</th>
            <th scope="col">Текст нарушения</th>
            <th scope="col">Организация, выполняющая работы</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><a href="single-precept.html">05/09/2019</a></td>
            <td><a href="single-precept.html">Автострада</a></td>
            <td><a href="single-precept.html">ПК20+12</a></td>
            <td><a href="single-precept.html">ПК22+00</a></td>
            <td><a href="single-precept.html">Устройство обучения кадров в значительной степени обуславливает создание модели развития</a></td>
            <td><a href="single-precept.html">Устройство обучения кадров в значительной степени обуславливает создание модели развития</a></td>
            <td><a href="single-precept.html">Раздел 4. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке существенных финансовых и административных условий. Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание модели развития.</a></td>
            <td><a href="single-precept.html">на рассмотрение</a></td>
          </tr>
          
        </tbody>
      </table>