.col-sm-12
  a.btn.btn-secondary.mt-4(href="new-call.html") Создать
  section.py-4.py-lg-5
    .table-responsive
      <table class="table table-bordered table-hover text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Дата</th>
            <th scope="col">Время</th>
            <th scope="col">Конструкция</th>
            <th scope="col">Граница от</th>
            <th scope="col">Граница до</th>
            <th scope="col">Вид работ</th>
            <th scope="col">Место встречи</th>
            <th scope="col">Контактные данные представителя</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><a href="card-call.html">1</a></th>
            <td><a href="card-call.html">11/09/2019</a></td>
            <td><a href="card-call.html">13:30</a></td>
            <td><a href="card-call.html">Автострада</a></td>
            <td><a href="card-call.html">ПК20+12</a></td>
            <td><a href="card-call.html">ПК22+00</a></td>
            <td><a href="card-call.html">Устройство обучения кадров в значительной степени обуславливает создание модели развития</a></td>
            <td><a href="card-call.html">ПК23</a></td>
            <td><a href="card-call.html">ФИО <br> тел.+7(ХХХ)ХХХ-ХХ-ХХ</a></td>
          </tr>
          
        </tbody>
      </table>