.login-form__wrapper.rounded.p-5
  <form class="login-form">
    h1.login-form__title.mb-4 Войти
    <div class="form-group">
      <label for="inputEmail" class="visuallyhidden">Имя пользователя</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Имя пользователя">
    </div>
    <div class="form-group">
      <label for="inputPassword" class="visuallyhidden">Password</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Пароль">
    </div>
    <button type="submit" class="btn btn-block btn-secondary mt-4">Войти</button>
    a.login-form__forget.mt-3(href="#") Забыли свой пароль?
  </form>