block variables

doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    title #{title}
    <!--[if IE]>
    meta(http-equiv='X-UA-Compatible', content="IE = edge")
    <![endif]-->
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords" content="")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap&subset=cyrillic")
    link(rel="stylesheet" type='text/css' href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    //- link(rel="stylesheet" type='text/css' href="libs/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" type='text/css' href="libs/lightgallery.js/css/lightgallery.min.css")
    link(rel="stylesheet" type='text/css' href="css/styles.min.css")

    <!--[if lt IE 9]>
    script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
    <![endif]-->
  body(class=pageClass)
    .wrapper
      if pageClass == 'login-page'
        include ../_modules/l-header/main-header
        .layout.layout-login
          block content
      else if pageClass === 'settings-page' || pageClass === 'projects-page' || pageClass === 'company-page' | pageClass === 'project-page'
        include ../_modules/l-header/app-header
        .layout
          .main-container
            .container
              .row.justify-content-center
                block content
      else
        include ../_modules/l-header/app-header
        .layout.layout-nav-aside
          .main-container
            .container-fluid
              .row.justify-content-center
                block content
          include ../_modules/l-nav-side/nav-side

    <svg width="0" height="0" class="hidden">
      <symbol viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" id="architecture">
        <g clip-path="url(#clip0)" fill="#162143">
          <path d="M31.665 19.77a.537.537 0 0 0-.587.128L28.8 22.292V8.071h.003l2.173-2.347a.533.533 0 0 0-.03-.754l-.782-.728 1.087-1.174a.533.533 0 0 0-.03-.753L28.874.142a.533.533 0 0 0-.753.029l-3.792 4.095H5.867A2.67 2.67 0 0 0 3.2 1.599h-.533A2.67 2.67 0 0 0 0 4.266v22.933c0 .294.239.533.533.533h8.074l-1.12 1.345a.533.533 0 0 0 .069.751l2.459 2.048a.533.533 0 0 0 .751-.069l2.73-3.28a1.58 1.58 0 0 0 .35-.795h9.773l-3.206 3.366a.533.533 0 0 0 .387.9h10.667a.533.533 0 0 0 .533-.533v-11.2a.534.534 0 0 0-.335-.495zM29.83 5.385L28.8 6.501v-.785l.64-.693.391.362zm-2.098-.095v.008l-4.51 4.875-1.566-1.45 5.433-5.872 1.567 1.45-.917.99h-.007zm-5.535 5.387l-1.226.358.262-1.251.964.893zm6.341-9.391l1.566 1.448-.725.785-1.566-1.45.725-.783zM2.667 2.666H3.2a1.6 1.6 0 0 1 1.6 1.6v20.28a2.64 2.64 0 0 0-1.6-.547h-.533a2.639 2.639 0 0 0-1.6.547V4.266a1.6 1.6 0 0 1 1.6-1.6zm0 22.4H3.2a1.6 1.6 0 0 1 1.6 1.6H1.067a1.6 1.6 0 0 1 1.6-1.6zm10.01 2.78l-.342.409-1.639-1.365.34-.41a.533.533 0 0 1 .752-.069l.82.681a.533.533 0 0 1 .07.751h-.001v.002zm-2.389 2.869l-1.64-1.365 1.365-1.64 1.64 1.365-1.365 1.64zm3.334-4.05c-.089-.147-.2-.28-.332-.39l-.82-.683a1.6 1.6 0 0 0-2.253.206l-.724.867H5.867V5.332h17.475l-2.83 3.059a.517.517 0 0 0-.112.2c-.005.017-.013.033-.017.05l-.637 3.044a.533.533 0 0 0 .672.621l2.986-.87c.014-.005.026-.013.04-.017a.526.526 0 0 0 .202-.131l4.087-4.42v16.544l-3.098 3.253H13.622zm17.311 4.267h-8.889l8.89-9.333v9.333z"></path>
          <path d="M25.107 29.536c.083.2.277.33.493.33h3.733a.533.533 0 0 0 .534-.534V25.6a.533.533 0 0 0-.91-.377l-3.734 3.733a.534.534 0 0 0-.116.581zm3.693-2.65V28.8h-1.913l1.913-1.913zm-5.333-6.62h-3.734v-5.867a.54.54 0 0 0-.157-.378l-3.2-3.2a.533.533 0 0 0-.754 0l-3.2 3.2a.54.54 0 0 0-.155.378v5.867H8.533a.533.533 0 1 0 0 1.066h14.934a.533.533 0 1 0 0-1.066zM16 11.953l1.913 1.913h-3.826L16 11.953zm-2.667 2.98h5.334v5.333h-5.334v-5.334zm2.134-6.401h1.066V9.6h-1.066V8.532zm0 13.867h1.066v1.067h-1.066v-1.067z"></path>
        </g>
        <defs>
          <clipPath id="clip0">
            <path fill="#fff" d="M0 0h32v32H0z"></path>
          </clipPath>
        </defs>
      </symbol>
      <symbol viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" id="back">
        <path d="M16 8.5H1.953l6.149 6.148-.704.704L.047 8 7.398.648l.704.704L1.953 7.5H16v1z" fill="#EFF2FC"></path>
      </symbol>
      <symbol viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" id="blueprint">
        <g clip-path="url(#clip0)" fill="#162143">
          <path d="M29.5 25a1.95 1.95 0 0 0-.255.017L16.98 26h-1.96l-12.25-.982A1.991 1.991 0 0 0 2.5 25C1.098 25 0 26.537 0 28.5S1.098 32 2.5 32c.092 0 .18-.006.27-.018L15.02 31h1.96l12.265.983c.084.01.168.017.255.017 1.402 0 2.5-1.537 2.5-3.5S30.902 25 29.5 25zm-12 1.962l10.147-.814C27.243 26.773 27 27.6 27 28.5c0 .9.243 1.727.647 2.352L17.5 30.038v-3.076zM2.675 30.986l-.03.003A.993.993 0 0 1 2.5 31C1.687 31 1 29.855 1 28.5S1.687 26 2.5 26a.993.993 0 0 1 .175.013l11.825.948v3.078l-11.825.948zM16.5 30h-1v-3h1v3zm13 1a.9.9 0 0 1-.139-.01c-.763-.129-1.36-1.218-1.36-2.485.157.293.372.576.645.849a1.235 1.235 0 0 0 1.12.36.844.844 0 0 0 .572-.392 1.24 1.24 0 0 0 .144-.955.5.5 0 0 0-.964.266.244.244 0 0 1-.005.1c-.058-.004-.103-.03-.16-.087-.745-.745-.87-1.493-.406-2.422a.513.513 0 0 0 .024-.058c.123-.08.254-.134.39-.157.046-.006.09-.009.139-.009.813 0 1.5 1.145 1.5 2.5s-.687 2.5-1.5 2.5zM.05 21.717A.5.5 0 0 0 .5 22h8v.793l-.854.854A.5.5 0 0 0 8 24.5h16a.5.5 0 0 0 .354-.854l-.854-.853V22h8a.5.5 0 0 0 .39-.812L30.54 19.5h.96a.5.5 0 0 0 .39-.812L30.54 17h.96a.5.5 0 0 0 .354-.854l-5-5A.5.5 0 0 0 26.5 11h-9.298l1.503-1.504H20V9.5h2a.5.5 0 0 0 .5-.5V4a.5.5 0 0 0-.5-.5h-.298l.234-.234c.356-.356.56-.848.56-1.351 0-.51-.199-.99-.56-1.351a1.899 1.899 0 0 0-1.351-.56c-.503 0-.995.204-1.351.56l-1.085 1.085-1.855 1.855H13.5a.497.497 0 0 0-.351.145l-1.5 1.5a.496.496 0 0 0-.146.351v2.794L10.15 9.65a.496.496 0 0 0-.136.254L9.793 11H5.5a.5.5 0 0 0-.354.146l-5 5A.5.5 0 0 0 .5 17h.96L.11 18.688a.5.5 0 0 0 .39.812h.96L.11 21.188a.5.5 0 0 0-.06.529zM10.5 20.5a4.508 4.508 0 0 1 .985-2.808L13.793 20H13.5a.5.5 0 1 0 0 1h1v.085c-1.565.172-2.95.581-3.724.968a4.44 4.44 0 0 1-1.276.398V21h.5a.5.5 0 0 0 .5-.5zM21 21h1.5v1.45a4.44 4.44 0 0 1-1.276-.397c-.774-.387-2.16-.796-3.724-.968V21h1a.5.5 0 1 0 0-1h-.293l2.308-2.308A4.513 4.513 0 0 1 21.472 20H21a.5.5 0 1 0 0 1zm-3.5-1.707v-3.265a4.432 4.432 0 0 1 2.307.958L17.5 19.293zm-1-3.793v5.51a12.977 12.977 0 0 0-1 0V15h1v.5zm-2 3.793l-2.307-2.307a4.425 4.425 0 0 1 2.307-.958v3.265zM9.207 23.5l.01-.01a5.55 5.55 0 0 0 2.006-.543C12.165 22.477 14.108 22 16 22c1.892 0 3.835.477 4.776.947a5.55 5.55 0 0 0 2.007.543l.01.01H9.207zM30.459 21H23.5v-.5a.5.5 0 0 0-.5-.5h-.521a5.454 5.454 0 0 0-.069-.5h6.85l1.2 1.5zm0-2.5h-8.336a5.53 5.53 0 0 0-.882-1.5h8.019l1.2 1.5zM15 10.202l.799.798h-1.596l.798-.798zm3.5-1.698a.497.497 0 0 0-.35.145l-1.65 1.649-.797-.798 3.801-3.801v2.805H18.5zm3-.004h-1.003V4.706l.206-.206h.798v4zm-1.563-7.234a.912.912 0 0 1 1.298 0 .912.912 0 0 1 0 1.298l-.734.734L19.202 2l.734-.734zM18.5 2.702L19.798 4 12.5 11.298 11.202 10 18.5 2.702zm-7.695 8.305l.688.688-.86.172.172-.86zm1.691-5.301l1.21-1.21H15.3l-2.805 2.805V5.706zM5.707 12h3.887l-.08.403a.496.496 0 0 0 .583.584l2.5-.5a.497.497 0 0 0 .254-.136l.351-.351h13.09l4 4H20.158a5.413 5.413 0 0 0-2.657-.978V14.5a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 0-.5.5v.522a5.41 5.41 0 0 0-2.658.978H1.707l4-4zm5.052 5c-.372.45-.67.959-.882 1.5H1.54l1.2-1.5h8.019zM9.59 19.5c-.03.165-.054.332-.069.5H9a.5.5 0 0 0-.5.5v.5H1.54l1.2-1.5h6.85z"></path>
        </g>
        <defs>
          <clipPath id="clip0">
            <path fill="#fff" d="M0 0h32v32H0z"></path>
          </clipPath>
        </defs>
      </symbol>
      <symbol viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" id="idea">
        <path d="M25.99 21l.606-1.226-1.984-1.983-1.226.606a6.651 6.651 0 0 0-1.416-.587l-.438-1.295h-2.806l-.437 1.295a6.65 6.65 0 0 0-1.417.587l-1.226-.606-1.984 1.983L14.27 21c-.07.126-.135.254-.197.384l-2.717-.905v-.62a4.671 4.671 0 0 0 1.576-1.799A2.065 2.065 0 0 0 14.968 16v-2.675A1.546 1.546 0 0 0 16 11.87c0-.703-.474-1.292-1.117-1.48a5.659 5.659 0 0 0-4.855-4.656 1.428 1.428 0 0 0-1.14-.574H8.66c-.466 0-.878.227-1.14.574a5.663 5.663 0 0 0-4.855 4.656 1.545 1.545 0 0 0-1.118 1.48c0 .672.433 1.24 1.033 1.454v2.675c0 1.117.893 2.024 2.035 2.059a4.675 4.675 0 0 0 1.578 1.801v.62l-4.147 1.382A2.989 2.989 0 0 0 0 24.701v5.233h16.531c.31.154 1.144.558 1.755.76l.44 1.305h2.806l.438-1.295c.492-.14.967-.337 1.416-.587l1.226.606 1.984-1.983-.607-1.226c.25-.45.447-.924.588-1.416l1.294-.438v-2.806l-1.295-.438A6.708 6.708 0 0 0 25.99 21zm-9.148 1.782a3.611 3.611 0 0 1 3.287-2.138 3.617 3.617 0 0 1 3.613 3.613 3.617 3.617 0 0 1-3.613 3.613 3.614 3.614 0 0 1-2.58-1.091V24.7c0-.723-.265-1.393-.707-1.919zm-.326 1.92v4.2h-2.064v-3.31l-.152-.151a2.988 2.988 0 0 1-.88-2.128v-1.058l1.755.585a1.958 1.958 0 0 1 1.341 1.861zM4.13 27.87h9.29v1.032H4.13V27.87zm8.258-5.96v1.403c0 1.006.365 1.955 1.032 2.698v.827H4.13v-.827a4.01 4.01 0 0 0 1.032-2.698v-1.402l1.072-.357a2.577 2.577 0 0 0 2.541 2.187c1.289 0 2.35-.952 2.541-2.187l1.072.357zm1.548-8.492v.804a2.03 2.03 0 0 0-.516-.214v-.59h.516zm-.612 3.522c.063-.304.096-.619.096-.941v-.889c.308.18.516.509.516.889 0 .42-.252.78-.612.941zM8.661 6.193h.226a.404.404 0 0 1 .392.5l-.391 1.564H8.66l-.39-1.563a.404.404 0 0 1 .391-.502zM4.995 8.047l.737 1.473.923-.462-.829-1.657a4.614 4.614 0 0 1 1.428-.575c.006.04.004.08.014.118l.588 2.345h1.837l.588-2.346c.01-.038.008-.078.014-.117a4.63 4.63 0 0 1 1.428.575l-.83 1.658.924.462.737-1.474a4.62 4.62 0 0 1 1.263 2.275H3.732a4.63 4.63 0 0 1 1.263-2.275zm-1.898 3.307h11.355a.517.517 0 0 1 0 1.032H3.097a.517.517 0 0 1 0-1.032zm1.032 2.654c-.184.048-.356.12-.516.214v-.804h.516v.59zm-.516 1.991c0-.38.209-.71.516-.889V16c0 .322.033.637.096.941A1.032 1.032 0 0 1 3.613 16zm1.548 0v-2.58h7.226v2.58a3.617 3.617 0 0 1-3.613 3.613 3.617 3.617 0 0 1-3.613-3.613zm3.613 4.645c.544 0 1.063-.098 1.549-.27v.786a1.55 1.55 0 0 1-1.549 1.549 1.55 1.55 0 0 1-1.548-1.549v-.787a4.611 4.611 0 0 0 1.548.271zm-7.742 4.057c0-.845.54-1.593 1.342-1.86l1.755-.586v1.058a2.99 2.99 0 0 1-.881 2.128l-.151.151v3.31H1.032v-4.2zm25.807.218l-1.128.382-.066.277a5.656 5.656 0 0 1-.682 1.645l-.15.244.528 1.067-.936.936-1.067-.528-.243.15a5.614 5.614 0 0 1-1.646.682l-.277.066-.381 1.127h-1.324l-.38-1.127-.278-.067c-.296-.07-.817-.293-1.26-.497v-1.164c.757.506 1.652.79 2.58.79a4.65 4.65 0 0 0 4.645-4.645 4.65 4.65 0 0 0-4.645-4.645c-1.74 0-3.315.977-4.109 2.485a2.985 2.985 0 0 0-.518-.236l-.441-.147c.072-.144.15-.285.233-.422l.15-.244-.527-1.068.935-.936 1.068.528.243-.15a5.623 5.623 0 0 1 1.645-.682l.278-.066.381-1.127h1.324l.38 1.128.278.066a5.634 5.634 0 0 1 1.646.682l.243.15 1.067-.528.936.936-.527 1.067.15.244a5.63 5.63 0 0 1 .68 1.644l.067.278 1.128.381v1.324zM32 6.193c0-1.76-.753-3.443-2.066-4.618a6.229 6.229 0 0 0-4.84-1.536c-2.716.303-4.99 2.479-5.405 5.172a6.208 6.208 0 0 0 2.417 5.942c.032.024.059.058.09.085a1.541 1.541 0 0 0-.519 1.148c0 .672.433 1.24 1.033 1.454v.095a3.1 3.1 0 0 0 3.096 3.096 3.1 3.1 0 0 0 3.097-3.096v-.095a1.546 1.546 0 0 0 1.032-1.454 1.54 1.54 0 0 0-.52-1.15c.023-.02.044-.047.07-.065A6.216 6.216 0 0 0 32 6.193zm-6.194 9.806a2.067 2.067 0 0 1-2.064-2.064h4.129a2.067 2.067 0 0 1-2.065 2.064zm2.581-3.097h-5.161a.517.517 0 0 1 0-1.032h5.161a.517.517 0 0 1 0 1.032zm-4.129-7.225h-.516a.517.517 0 1 1 .516-.517v.517zm2.065 5.16H25.29V6.71h1.033v4.129zm2.064 0h-1.032V6.71h.516a1.55 1.55 0 0 0 1.548-1.549 1.55 1.55 0 0 0-1.548-1.548 1.55 1.55 0 0 0-1.548 1.548v.517H25.29V5.16a1.55 1.55 0 0 0-1.548-1.548 1.55 1.55 0 0 0-1.549 1.548 1.55 1.55 0 0 0 1.549 1.549h.516v4.129h-1.032l-.014.002a2.42 2.42 0 0 0-.49-.514A5.178 5.178 0 0 1 20.71 5.37c.346-2.241 2.239-4.051 4.5-4.304a5.127 5.127 0 0 1 4.037 1.28 5.17 5.17 0 0 1 1.722 3.848 5.111 5.111 0 0 1-2.097 4.147 2.311 2.311 0 0 0-.475.499l-.009-.001zm-1.032-5.16V5.16a.517.517 0 1 1 .516.517h-.516z" fill="#162143"></path>
        <path d="M9.806 24.773h2.065v1.032H9.806v-1.032z" fill="#162143"></path>
      </symbol>
    </svg>

    script(src="js/jquery-3.3.1.min.js")
    script(src="libs/bootstrap/js/bootstrap.bundle.min.js")
    script(src="libs/lightgallery.js/js/lightgallery.min.js")
    script(src="js/main.js")
    block script