.col-sm-12
  section.py-4.py-lg-5
    h2.h2.mb-1.text-center Полное наименование организации
    p.h4.mb-5.text-center Сокращенное наименование организации

    h3.h3.mb-3 Список сотрудников
    .table-responsive
      <table class="table table-bordered table-hover text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ФИО</th>
            <th scope="col">Должность</th>
            <th scope="col">Контактный номер телефона</th>
            <th scope="col">e-mail</th>
            <th scope="col">Пароль</th>
            <th scope="col">Заморозить</th>
            <th scope="col">Удалить</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Иванов Иван Иванович</td>
            <td>Генеральный директор</td>
            <td><a href="tel:+79999999999">+79999999999</a></td>
            <td><a href="mailto:dfbdsfdgsfd@gss.wdf">dfbdsfdgsfd@gss.wdf</a></td>
            <td><a class="link-underline" href="#">Изменить</a></td>
            <td>
              <a href="#" class="btn btn-icon js-freeze" area-label="Заморозить сотрудника">
                <i class="fa fa-toggle-off" aria-hidden="true"></i>
                <i class="fa fa-toggle-on d-none" aria-hidden="true"></i>
              </a>
            </td>
            <td>
              <a href="#" class="btn btn-icon js-remove" area-label="Удалить сотрудника">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          
          <tr>
            <th scope="row">2</th>
            <td>Иванов Иван Иванович</td>
            <td>Генеральный директор</td>
            <td><a href="tel:+79999999999">+79999999999</a></td>
            <td><a href="mailto:dfbdsfdgsfd@gss.wdf">dfbdsfdgsfd@gss.wdf</a></td>
            <td><a class="link-underline" href="#">Изменить</a></td>
            <td>
              <a href="#" class="btn btn-icon js-freeze" area-label="Заморозить сотрудника">
                <i class="fa fa-toggle-off" aria-hidden="true"></i>
                <i class="fa fa-toggle-on d-none" aria-hidden="true"></i>
              </a>
            </td>
            <td>
              <a href="#" class="btn btn-icon js-remove" area-label="Удалить сотрудника">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          
          <tr>
            <th scope="row">3</th>
            <td>Иванов Иван Иванович</td>
            <td>Генеральный директор</td>
            <td><a href="tel:+79999999999">+79999999999</a></td>
            <td><a href="mailto:dfbdsfdgsfd@gss.wdf">dfbdsfdgsfd@gss.wdf</a></td>
            <td><a class="link-underline" href="#">Изменить</a></td>
            <td>
              <a href="#" class="btn btn-icon js-freeze" area-label="Заморозить сотрудника">
                <i class="fa fa-toggle-off" aria-hidden="true"></i>
                <i class="fa fa-toggle-on d-none" aria-hidden="true"></i>
              </a>
            </td>
            <td>
              <a href="#" class="btn btn-icon js-remove" area-label="Удалить сотрудника">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </a>
            </td>
          </tr>

          <tr>
            <td colspan="8">
              <a href="#" class="btn btn-icon" area-label="Добавить ряд">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </a>
            </td>
          </tr>

        </tbody>
      </table>
