.col-sm-11
  section.py-4.py-lg-5
    h1.h2.mb-4.text-center Выберите проект
    .table-responsive
      <table class="table table-bordered table-hover text-center">
        <thead>
          <tr>
            <th scope="col" class="w-5">#</th>
            <th scope="col" class="w-50">Наименование</th>
            <th scope="col" class="w-15">СГ1</th>
            <th scope="col" class="w-15">СГ2</th>
            <th scope="col" class="w-15">СГ3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><a href="tasks.html">Наименование проекта</a></td>
            <td><a href="tasks.html">Наименование организации</a></td>
            <td><a href="tasks.html">Наименование организации</a></td>
            <td><a href="tasks.html">Наименование организации</a></td>
          </tr>
        </tbody>
      </table>