/* ==========================================================================
   #ICON
   ========================================================================== */

.icon {
  display: block;
}

.icon-architecture {
  width: 32px;
  height: 32px;
}

.icon-blueprint {
  width: 32px;
  height: 32px;
}

.icon-idea {
  width: 32px;
  height: 32px;
}

.icon-back {
  width: 16px;
  height: 16px;
}
