header.header.primary-header
  .d-flex
    .header__module.header__module--primary-left
      a.navbar-brand.navbar-brand--primary-header(href="index.html")
        | the Projectbook
    .header__module.header__module--primary-right.text-center
      a.header__btn.header__btn-contact(
        href="#"
      )
        span.header__btn-text Связаться с нами