/* ==========================================================================
   #FORM
   ========================================================================== */


.form-control {
  height: calc(1.7em + 1.5rem + 2px);
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  line-height: 1.7;
}

.login-form .btn {
  padding: 0.75rem 1rem;
  line-height: 1.7;
}

.login-form__wrapper {
  width: 100%;
  max-width: 500px;
  background-color: $blue-lighter;
}

.login-form {
  width: 100%;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.login-form__title {
  font-weight: bold;
  font-size: 2rem;
}

.login-form__forget {
  display: inline-block;
}