.col-sm-12
  section.py-4.py-lg-5
    h2.h2.mb-5.text-center Мои задачи
    h3.h3.mb-3 Завершенные
    .table-responsive
      <table class="table table-bordered table-hover text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Автор поручения <br> ФИО</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Дата документа</th>
            <th scope="col">Разработчик</th>
            <th scope="col">Признак</th>
            <th scope="col">Тип</th>
            <th scope="col">Шифр</th>
            <th scope="col">Наименование</th>
            <th scope="col">Версия</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">2</th>
            <td><a href="single-task.html">Иванов Иван Иванович</a></td>
            <td><a href="single-task.html">05.09.2019</a></td>
            <td><a href="single-task.html">05.09.2019</a></td>
            <td><a href="single-task.html">ООО "ЛМА"</a></td>
            <td><a href="single-task.html">на освидетельствование</a></td>
            <td><a href="single-task.html">Вызов</a></td>
            <td><a href="single-task.html">00112</a></td>
            <td><a href="single-task.html">Разнообразный и богатый опыт рамки и место обучения кадров в значительной степени обуславливает создание модели развития.</a></td>
            <td><a href="single-task.html">1</a></td>
          </tr>

          <tr>
            <th scope="row">3</th>
            <td><a href="single-task.html">Иванов Иван Иванович</a></td>
            <td><a href="single-task.html">05.09.2019</a></td>
            <td><a href="single-task.html">05.09.2019</a></td>
            <td><a href="single-task.html">ООО "ЛМА"</a></td>
            <td><a href="single-task.html">на проверку</a></td>
            <td><a href="single-task.html">Предписание</a></td>
            <td><a href="single-task.html">00008</a></td>
            <td><a href="single-task.html">Повседневная практика показывает, что дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке условий.</a></td>
            <td><a href="single-task.html">13</a></td>
          </tr>

        </tbody>
      </table>
